<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post Form</title>
    <link rel="stylesheet" href="/editpost.css"> <!-- Linking the CSS file -->
</head>
<body>

    <div class="container">
        <h2>Edit Post</h2>
        <form action="/posts/edit/<%= post.id %>?_method=PATCH" method="post">
            <label for="post-id">Post ID</label>
            <p class="post-id"><%= post.id %></p> <!-- Displaying Post ID as plain text -->

            <label for="title">Title</label>
            <textarea id="title" rows="1" name="title"><%= post.title %></textarea> <!-- Title as textarea -->

            <label for="content">Content</label>
            <textarea id="content" rows="5" name="content"><%= post.content %></textarea>

            <button type="submit" class="btn">Update Post</button>
        </form>
    </div>

</body>
</html>
